{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
<h4>Integrity Test</h4>
<p>
    This is the fifth and last module of the experiment. Please answer the following questionnaire while we calculate your payoff.
    Please consider the following and indicate if you think they are justified or not.
</p>
     {% formfield player.it1 %}
     {% formfield player.it2 %}
     {% formfield player.it3 %}
     {% formfield player.it4 %}
     {% formfield player.it5 %}
     {% formfield player.it6 %}
     {% formfield player.it7 %}
     {% formfield player.it8 %}
     {% formfield player.it9 %}
     {% formfield player.it10 %}


    {% next_button %}

{% endblock %}
