{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction of Module 3
{% endblock %}

{% block content %}
<p>
    This Module consists of 10 rounds. At the beginning of each round participants are randomly assigned to groups of
    three. You won’t know the identity of the other group members. Groups are randomly re-assigned before each round.
</p>
<p>
    Each round contains 2 parts. FIRST, your group will be randomly matched to a group in a previous experiment we
    conducted. The three participants in the matched group generated High, Medium and Low Outcomes (represented by some
    whole numbers) in their experiment.
</p>
<p>
    Then each person in the group will roll a virtual die on the computer screen. The person who rolls the largest number
    will receive the highest Outcome from the matched group; the second largest number will receive the second highest Outcome;
    the third largest number will receive the third highest Outcome; the smallest number will receive the lowest Outcome.
    Ties are broken by flipping a virtual fair coin. Your Preliminary Gains is <strong>150 ECUs </strong>>times the Outcome you got from the matched group.
</p>
<p>
    At the end of each round, once you have received information concerning your Preliminary Gains, you will be asked to declare these gains. This is your Declared Gains. In this Module <strong>10%</strong> of these Declared Gains will then be deducted from your Preliminary Gains.

</p>
<p>
    In each round there is a certain probability that your Declared Gains will be compared with your actual Preliminary Gains in order to verify these two amounts correspond. In this Module this probability is <strong>10%</strong>.

</p>
<p>
    If this verification finds a discrepancy between the Preliminary and Declared gains an extra amount will be taken away from your Preliminary Gains. In this Module this amount will correspond to <strong>50%</strong> of the observed discrepancy. In addition, the regular deduction of <strong>10%</strong> will apply to the Preliminary Gains and not to the declared amount.
</p>
<br>
<p>
    Deductions from all four group members’ Preliminary Gains will then be pooled and equally distributed amongst those members. The amount you receive here is called the Group Amount.
</p>
<p>
    Your profits for each round in this Module are calculated in the following manner:
    <br>
    <strong>
       Profit = Preliminary Gains – Deductions from the Declared Gains – Potential Deductions due to Discrepancy + Group amount
    </strong>
</p>
<p>
    Finally, one round in this Module will be chosen at random, and your earnings for this Module will be based on your
    profits of that round at the exchange rate <strong>300 ECUs = 1 £</strong>.
</p>
<br>
<p>
    You will be informed of your earnings for this Module at the end of the experiment.
</p>

    {% next_button %}

{% endblock %}
