{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Module 3: Matched Outcome
{% endblock %}

{% block content %}
<p>
    Your preliminary gain is  {{ player.matched_payoff }} ECUs.
<br>
    <br>
    The tax rate on your declared gains is 10%. There is 10% probability that your declared gains will be verified.​
    <br>
    Please Declare your gain:
<table>
    <th>{{ form.declare_gain }}</th>
    <th>ECUs</th></table>
</p>

{% next_button %}
{% endblock %}


